html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}

.back, .forward{
    z-index: 10;
    background: #222222;
    padding: 1em;
    border: 1px solid #333333;
    border-radius: 5px;
}

.back{
    position: fixed;
    top: 2em;
    left: 2em;
}
.forward{
    position: fixed;
    top: 2em;
    right: 2em;
}

.messages{
    position: fixed;
    bottom: 2em;
    right: 12em;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;
}
.messages li{
    position: absolute;
    bottom: -100px;

    width: 150px;
    background-color: #00dba3;
    color: white;
    padding: 1em;
    border-radius: 5px;

    -webkit-transition: bottom 0.3s ease;
    -moz-transition: bottom 0.3s ease;
    -ms-transition: bottom 0.3s ease;
    -o-transition: bottom 0.3s ease;
    transition: bottom 0.3s ease;
}

.messages li.success{

}

.messages li.active{
    bottom: 50px;
    -webkit-transition: bottom 0.3s ease;
    -moz-transition: bottom 0.3s ease;
    -ms-transition: bottom 0.3s ease;
    -o-transition: bottom 0.3s ease;
    transition: bottom 0.3s ease;

}