{% extends 'words/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'words/mywords.css' %}">
{% endblock %}

{% block body %}
    <div class="back">
        <a href="/word"><i class="fa fa-arrow-left"></i>&nbsp;<span>Add word</span></a>
    </div>
    <div class="forward">
        <a href="/"><span>Home</span>&nbsp;<i class="fa fa-arrow-right"></i></a>
    </div>
    <div class="mywords__wrapper">
        <div class="header">
            <ul class="pagination">
                {% if page == 1 %}
                    <li class="disabled"><a href="">&laquo;</a></li>
                {% else %}
                    <li><a href="/my-words?page={{ page|add:-1 }}">&laquo;</a></li>
                {% endif %}
                {% for i in range %}
                    {% if i == page %}
                        <li class="active"><a href="#">{{ i }}</a></li>
                    {% else %}
                        <li><a href="/my-words?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page == num_pages %}
                    <li class="disabled"><a href="">&raquo;</a></li>
                {% else %}
                    <li><a href="/my-words?page={{ page|add:1 }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="wordlist">
            {% for word in words %}
                <a href="/word/{{ word.id }}" class="word row">
                    <div class="col-sm-12 col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="word__title text-success">CoTu</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="word__innertitle text-success">Word</div>
                                <div class="word__content">{{ word.word }}</div>
                            </div>
                            <div class="col-md-6">
                                <div class="word__innertitle text-success">Example</div>
                                <div class="word__content">{{ word.wordExample }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="word__title text-success">Vietnamese</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="word__innertitle text-success">Word</div>
                                <div class="word__content">{{ word.freeTrans }}</div>
                            </div>
                            <div class="col-md-6">
                                <div class="word__innertitle text-success">Example</div>
                                <div class="word__content">{{ word.freeTransExample }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="word__title text-success">English</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="word__innertitle text-success">Word</div>
                                <div class="word__content">{{ word.freeTrans2 }}</div>
                            </div>
                            <div class="col-md-6">
                                <div class="word__innertitle text-success">Example</div>
                                <div class="word__content">{{ word.freeTrans2Example }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="word__column--right">
                        <form action="/word/{{ word.id }}/delete" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button>
                        </form>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="bottom">
            <ul class="pagination">
                {% if page == 1 %}
                    <li class="disabled"><a href="">&laquo;</a></li>
                {% else %}
                    <li><a href="/my-words?page={{ page|add:-1 }}">&laquo;</a></li>
                {% endif %}
                {% for i in range %}
                    {% if i == page %}
                        <li class="active"><a href="#">{{ i }}</a></li>
                    {% else %}
                        <li><a href="/my-words?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page == num_pages %}
                    <li class="disabled"><a href="">&raquo;</a></li>
                {% else %}
                    <li><a href="/my-words?page={{ page|add:1 }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
